body{
    background-color: #3e3364;
    margin: 0;
    font-family: arial;
}

header{
    background-color: #f6e2a7;
    padding: 2rem;
}

header h1{
    color: #3e3364;
    font-family: 'Courier New';
}

nav{
    background-color: #261e44;
    padding: 1rem;
}

li a{
   color: #fff; 
   text-decoration: none;
   background-color: #4f476c;
   border-radius: 5px;
   padding: 0.5rem;
}

li a:hover{
    background-color: #312a48;
}

ul li{
    padding: 0.5rem;
    list-style: none;
}

nav ul{
    padding: 0;
    display: flex;
    
}

.container{
    margin: auto;
    margin-top: 2rem;
    max-width: 60%;
    background-color: #fff;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    
}

.container h3{
    text-align:center;
    color: #312a48;
    border-bottom: 2px solid #312a48;
    padding-bottom: 0.5rem;
}

.container input{
    margin-bottom: 0.5rem;
    border: 2px solid #312a48;
    border-radius: 8px;
    padding: 0.5rem;
    outline: none;
   
}

.container input:hover{
    background-color: #efebfe;
}

.container button{
    background-color: #312a48;
    color:#fff;
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 25px;
    cursor: pointer;
}

.container button:hover{
    background-color: #181032;
}

footer{
    margin-top: 2rem;
    border-top: 2px solid #f6e2a7;
    color: #f6e2a7;
}

th{
    background-color: #312a48;
    border-radius: 15px;
    color: #fff;
    padding: 1rem;
}

td{
    border:2px solid #312a48;
    border-radius: 15px;
    padding: 0.5rem;
    text-align: center;
}